.git
.gitignore
.ebignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.idea/
tests/
htmlcov/
.coverage
bandit-report.json
pylint-report.txt
sonar*
README.md
backend/templates/.env
coverage.xml
SCP-Project