SCP-Project
.env
backend/templates/.env
__pycache__/
*.pyc
.pytest_cache/
tests/__pycache__/
sonar-scanner-cli-5.0.1.3006-macosx.zip
sonar-scanner-5.0.1.3006-macosx
pylint-report.txt
coverage.xml
.coverage
bandit-report.json
htmlcov
sonar-project.properties
sonar*
.dockerignore
.ebignore

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
